<div class="footer section">

    <style>
        .footer {
            color: var(--on-surface-variant);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            border-block-start: 3px solid var(--outline-variant);
            padding-block-start: var(--space-4);
            gap: var(--space-3);
 

            .social-link:where(:hover,:focus-visible) {
               text-decoration: underline;
               }

               .footer-text {
               opacity: 0.8;
                }

        }
    </style>

    <div class="has-seperator">
        <a href="https://www.youtube.com/@aman.bh_1805" target="_blank" class="social-link">
            YouTube
        </a>
        <span class="separator"></span>

        <a href="https://www.instagram.com/_aman.1805_" target="_blank" class="social-link">
            Instagram 
        </a>

        <span class="separator"></span>
       
        <a href="https://twitter.com/_aman.1805_" target="_blank" class="social-link">
            X
        </a>
        <span class="separator"></span>

        <a href="https://www.linkedin.com/in/anmol-tiwari-8976552a9?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="social-link">
            Linkedin  
        </a>
       

    </div>

    <p class="footer-text body-medium">
        &copy; 2024 Musify. Developed by AnmolTiwari
    </p>
   
</div>